@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.home {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.image {
  z-index: -1;
  object-fit: cover;
  object-position: 0% 50%;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.home-wrpr {
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.home-content-wrpr {
  grid-column-gap: 17%;
  grid-row-gap: 17%;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  background-color: #361662cc;
  border: 1px solid #ffffff26;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-top: 2vw;
  display: flex;
  position: relative;
}

.top {
  grid-column-gap: .9vw;
  grid-row-gap: .9vw;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.mid {
  grid-column-gap: 1.6vw;
  grid-row-gap: 1.6vw;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bottom {
  grid-column-gap: .6vw;
  grid-row-gap: .6vw;
  background-color: #221137;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.2vw;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.countdown-item {
  grid-column-gap: .25vw;
  grid-row-gap: .25vw;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.clock-number {
  color: #d69e12;
  font-family: Montserrat, sans-serif;
  font-size: 1vw;
  line-height: 120%;
}

.clock-number.orange {
  color: #d69e12;
  font-family: Montserrat, sans-serif;
}

.pop-15 {
  color: #fff;
  font-family: Poppins, Arial, sans-serif;
  font-size: 1vw;
  line-height: 120%;
}

.pop-15.aa {
  text-transform: uppercase;
  font-weight: 500;
}

.image-2 {
  width: 16.875vw;
  height: 2.866vw;
}

.mont-35 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 2.431vw;
  font-weight: 500;
  line-height: 120%;
}

.mont-35.orange {
  color: #d69e12;
}

.mont-35.orange.aa {
  text-transform: uppercase;
}

.mont-35.bold {
  font-weight: 700;
}

.mont-23 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 2.431vw;
  font-weight: 500;
  line-height: 120%;
}

.mont-23.orange {
  color: #d69e12;
}

.mont-23.orange.aa {
  text-transform: uppercase;
  font-size: 1.55vw;
}

.form {
  grid-column-gap: 1.6vw;
  grid-row-gap: 1.6vw;
  background-color: #ededed00;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.form-block {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.checkbox-field {
  grid-column-gap: .8vw;
  grid-row-gap: .8vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.8vw;
  display: flex;
}

.button {
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(270deg, #1c954f, #58d38e);
  border-radius: 1vw;
  justify-content: center;
  align-items: center;
  padding: .694vw 11.8vw;
  font-family: Montserrat, sans-serif;
  font-size: 1.111vw;
  line-height: 120%;
  text-decoration: none;
  display: flex;
}

.mont-16 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1.111vw;
  font-weight: 400;
  line-height: 120%;
}

.mont-16.orange {
  color: #d69e12;
  font-family: Montserrat, sans-serif;
}

.bold-text {
  font-weight: 600;
}

.link {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.mont-12 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: .85vw;
  line-height: 120%;
}

.mont-12.orange {
  color: #d69e12;
  font-family: Montserrat, sans-serif;
}

.checkbox {
  cursor: pointer;
  background-color: #433846;
  border: 1px solid #ffffff4d;
  border-radius: .2vw;
  width: 1.5vw;
  height: 1.5vw;
  margin-top: 0;
  font-size: 4px;
}

.checkbox.w--redirected-checked {
  background-color: #48c17c;
  border-radius: .2vw;
  margin-top: 0;
}

.body {
  background-color: #221137;
}

.countdown-wrpr {
  grid-column-gap: .25vw;
  grid-row-gap: .25vw;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.clock-label {
  color: #d69e12;
  font-family: Montserrat, sans-serif;
  font-size: 1vw;
  line-height: 120%;
}

.clock-label.orange {
  color: #d69e12;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 991px) {
  .home-content-wrpr {
    grid-column-gap: 25%;
    grid-row-gap: 25%;
    padding-top: 5vw;
  }

  .top {
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
  }

  .mid {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .bottom {
    grid-column-gap: .5vw;
    grid-row-gap: .5vw;
    flex-flow: column;
    height: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .countdown-item {
    grid-column-gap: .5vw;
    grid-row-gap: .5vw;
  }

  .clock-number.orange {
    font-size: 2vw;
  }

  .pop-15 {
    font-size: 1.8vw;
  }

  .pop-15.aa {
    font-size: 2vw;
  }

  .image-2 {
    width: 20vw;
    height: 4vw;
  }

  .mont-35.orange.aa {
    font-size: 3.3vw;
  }

  .mont-35.bold {
    font-size: 3vw;
  }

  .mont-23.orange.aa {
    font-size: 2vw;
  }

  .button {
    padding: 1.5vw 12vw;
    font-size: 2vw;
  }

  .mont-16 {
    font-size: 2vw;
  }

  .mont-12 {
    font-size: 1.1vw;
  }

  .checkbox.w--redirected-checked {
    width: 2vw;
    height: 2vw;
  }

  .clock-label.orange {
    font-size: 2vw;
  }
}

@media screen and (max-width: 767px) {
  .home-wrpr {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .home-content-wrpr {
    grid-column-gap: 10%;
    grid-row-gap: 10%;
    width: 100%;
    height: 55%;
  }

  .button {
    font-size: 2vw;
  }
}

@media screen and (max-width: 479px) {
  .home {
    height: 100svh;
    position: relative;
  }

  .image {
    z-index: 3;
    object-position: 140% 50%;
    width: auto;
    display: none;
    inset: 0% auto auto 0%;
    overflow: hidden;
  }

  .home-wrpr {
    z-index: 2;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .home-content-wrpr {
    z-index: 5;
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    border-radius: 6.25vw;
    width: 97vw;
    height: auto;
    padding: 8vw;
  }

  .top {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .mid {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
  }

  .bottom {
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: none;
  }

  .clock-number.orange, .pop-15, .pop-15.aa {
    font-size: 2.5vw;
  }

  .image-2 {
    width: 47vw;
    height: 8vw;
    margin-bottom: .5vw;
  }

  .mont-35.orange.aa {
    font-size: 6.75vw;
  }

  .mont-35.bold {
    font-size: 6.25vw;
  }

  .mont-23.orange.aa {
    font-size: 4.5vw;
  }

  .form {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .form-block {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .checkbox-field {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin-left: 2vw;
    display: flex;
  }

  .button {
    border-radius: 2.5vw;
    padding: 1.5vw 8vw;
    font-size: 6vw;
    font-weight: 500;
  }

  .mont-16 {
    font-size: 6vw;
    font-weight: 500;
  }

  .mont-12 {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 2vw;
  }

  .checkbox {
    width: 3.5vw;
    height: 3.5vw;
  }

  .checkbox.w--redirected-checked {
    border-radius: .6vw;
    width: 3.5vw;
    height: 3.5vw;
  }

  .body {
    background-color: #000;
    background-image: url('../images/Untitled-Project-topaz-enhance-4x-faceai-1-1.webp');
    background-position: 6%;
    background-size: cover;
  }

  .clock-label.orange {
    font-size: 2.5vw;
  }
}


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}